/* Charset */
@charset 'UTF-8';

/* THEMING */
:root{
    --background-color: #fff;
    --text-color: #000;
    --accent-color: red;
}

.dark-mode{
    --background-color: #1E1E1E;
    --text-color: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    background-image: url('./../Assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    text-align: center;
    overflow: hidden;
}

.overlay {
    background-color: var(--background-color);
    opacity: .3;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.name{
    font-size: 3rem;
    font-weight: bold;

    span {
        text-transform: uppercase;
    }
}

.question {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.gif{
    margin: 1rem;

    img {
        width: 300px;
        aspect-ratio: 1 / 1;
    }
}

/* CV Section */
.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    position: relative;
    border: 1px solid var(--text-color);
    border-radius: .7rem 0 .7rem 0;
    background-color: transparent;
    text-transform: uppercase;
    margin: 1rem .5rem;
    padding: .5rem 1rem;
    overflow: hidden;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--text-color);
    transition: width .5s ease-in-out;
    z-index: -1;
}

button:hover {
    color: var(--background-color);
}

button:hover::before {
    width: 100%;
}

#no {
    transition: all .4s ease-in-out;
}